<table class="table">
  <thead>
    <tr>
      <th scope="col">Código - Vin</th>
      <th scope="col">Odômetro</th>
      <th scope="col">Nível de Combustível</th>
      <th scope="col">Status</th>
      <th scope="col">Lat.</th>
      <th scope="col">Long.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="d-flex" data-label="Código - Vin">
        <input (change)="onChangeVin($event)" class="input-vin" type="text" placeholder="{{ vin }}" value="{{ vin }}">
      </td>
      <td data-label="Odômetro">{{ odometro }}Km</td>
      <td data-label="Nível de Combustível">{{ nivelCombustivel }}%</td>
      <td data-label="Status">{{ status.toUpperCase() }}</td>
      <td data-label="Lat.">{{ lat }}</td>
      <td data-label="Long.">{{ long }}</td>
    </tr>
  </tbody>
</table>