<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h2>Sobre você</h2>
    
    <label>Nome:</label>
    <input formControlName="nome" type="text" placeholder="NOME*" id="nome">
    <div *ngIf="contactForm.get('nome')?.invalid && contactForm.get('nome')?.touched" class="error-message">
        Nome é obrigatório
    </div>
    
    <label>E-mail:</label>
    <input formControlName="email" type="email" placeholder="E-MAIL*" id="email">
    <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
        Por favor, insira um e-mail válido
    </div>
    
    <label>Tel.:</label>
    <input formControlName="telefone" type="text" placeholder="TELEFONE*" id="telefone" 
           (input)="formatPhoneNumber($event)">
    <div *ngIf="contactForm.get('telefone')?.invalid && contactForm.get('telefone')?.touched" class="error-message">
        Telefone é obrigatório
    </div>
    
    <label>Tipo de contato:</label>
    <select formControlName="tipoContato" id="contato">
        <option value="" disabled selected>TIPO DE CONTATO</option>
        <option value="1">Elogio</option>
        <option value="2">Reclamação</option>
        <option value="3">Solicitação</option>
    </select>
    <div *ngIf="contactForm.get('tipoContato')?.invalid && contactForm.get('tipoContato')?.touched" class="error-message">
        Tipo de contato é obrigatório
    </div>
    
    <label>Mensagem:</label>
    <textarea formControlName="mensagem" class="mensagem-contato" id="mensagem" placeholder="MENSAGEM*"></textarea>
    <div *ngIf="contactForm.get('mensagem')?.invalid && contactForm.get('mensagem')?.touched" class="error-message">
        Mensagem é obrigatória
    </div>
    
    <button type="submit" class="button-contato">Enviar</button>
    
    <div class="pop-up" *ngIf="showPopup">
        <h3 style="font-size: 25px;">Confirme seus dados:</h3>
        <p><strong>Nome: </strong> <span id="popup-nome">{{ submittedData.nome }}</span></p>
        <p><strong>E-mail: </strong> <span id="popup-email">{{ submittedData.email }}</span></p>
        <p><strong>Telefone: </strong> <span id="popup-telefone">{{ submittedData.telefone }}</span></p>
        <p><strong>Tipo de Contato: </strong> <span id="popup-tipoContato">{{ getTipoContatoText(submittedData.tipoContato) }}</span></p>
        <p><strong>Mensagem: </strong> <span id="popup-mensagem">{{ submittedData.mensagem }}</span></p>
        
        <br><br>
        <div class="popup-buttons">
            <button type="button" class="buttonConfirmarEnvio" (click)="confirmSubmission()">Confirmar</button>
            <button type="button" class="buttonCancelarEnvio" (click)="closePopup()">Fechar</button>
        </div>
    </div>
</form>