.form_container{
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  background-image: url(/img/backgroundForm1.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop{
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}

.telaLogin{
    height: 100dvh;
    display: flex;
}

.image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IlustracaoTelaLogin{
  width: 70%;
  height: auto;
}
