<div class="image">
  <div class="container-welcomeText" >

    <div class="d-flex justify-content-between" id="msg">

        <div><img class="logo-ford" src="/img/ford.png"></div>

    </div>

    <div>

        <h2 class="text-center"><strong>SEJA BEM VINDO!</strong></h2>

        <div class="divdotexto">

          <p class="welcomeText">Neste ambiente único, você acessa detalhes completos sobre nossa linha de veículos, incluindo desempenho,
            recursos tecnológicos e outros diferenciais - tudo estruturado de maneira clara e acessível para você mergulhar no que a Ford
            tem de melhor. Aproveite uma jornada pensada para quem busca tecnologia avançada, motorização robusta e estilo marcante. Sua
            experiência começa agora!
          </p>

        </div>

    </div>

  </div>
</div>
